<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 m-auto ">
            <div class="w-100 card mt-5 shadow">
                <div class="card-header">
                    <h3 class="text-center">Resend unlock instructions</h3>
                </div>
                <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
                        <div class="form-group">
                            <%= render "devise/shared/error_messages", resource: resource %>
                        </div>

                        <%= render "devise/partials/email", f: f%>

                        <div class="form-group actions">
                            <%= f.submit "Resend unlock instructions", class: "btn btn-primary btn-block" %>
                        </div>

                        <%= render "devise/shared/links" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
